html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
   font-family: 'Kreon', serif;
   margin: 0;
   padding: 0;
 }

section {


}


/* main compenents */


header {
  background-image: url(photos/background.jpg);
  background-size: cover;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.contact-img{
  float: center;
  width: 10%;
}

img{
  float: center;
  width: 29%;
  padding: 5px;
  border-radius: 40px;
}


footer {
  background-color: dimgrey;
  color: white;
  height: 40px;
  text-align: right;
  line-height: 10px;
  padding-right: 15px;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* LINKS, HEADERS, PARAGRAPH */

a {
  color:inherit;
}

a:hover{
  color: firebrick;
}


h1 {
  font-weight: normal; /* removes default bold style */
  color: white;
}

header h1 {
  font-size: 50px;
}

/*Review Section formatting, because it has a different style background*/

.Reviews h2 {
  text-align: center;
  padding: 20px;
  color: gainsboro;
}

.Reviews h3 {
  text-align: center;
  color: cornsilk;
}

.Reviews p {
  color: white;
  margin-right: 10%;
  margin-left: 10%;
  line-height: 150%;
}

/*The rest of the formatting */

.AboutMe, .Recruitment, .Sushi, .Contact, .blogpost h2 {
  text-align: center;
  padding: 20px;
  color: steelblue;
}

h3 {
  font-weight: normal; /* removes default bold style */
  text-align: center;
}



.AboutMe, .Recruitment, .Sushi, .Contact p {
  color: dimgrey;
  padding-right: 10%;
  padding-left: 10%;
  line-height: 150%;

}

/* HOME PAGE SECTIONS */

.AboutMe{
  background-color: white;
  padding: 5%;

}

.Recruitment {
  background-color: aliceblue;
  padding: 5%;
}

.Reviews {
  background-image: url(photos/reviews-background.jpg);
  background-size: cover;
  padding: 5%;
}

.Sushi {
  background-color: white;
  padding: 5%;
}

.Things {
  background-color: whitesmoke;
  margin-bottom: 40px;
}

.Contact {
  background-color: whitesmoke;
  padding: 7px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px;

}

/* Blog post page components */

.blogpost {
  background-color: white;
  padding: 5%;
}



/* elements for things I like section

.square {
    float:left;
    position: relative;
    width: 33%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio
    background-color:white;
    overflow:hidden;
}

.content {
    position:absolute;
    align-self: center;
    height:100%;
    width:100%;

}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}




/*  For responsive images as background

.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped
    color:white;
}

.img1{
    background-image: url(music.jpg);
    opacity: 0.5;
}
.img2{
    background-image: url(hiking.jpg);
    opacity: 0.5;
}
.img3{
    background-image: url(technology.jpg);
    opacity: 0.5;
}
.img4{
    background-image: url(guitar.jpg);
    opacity: 0.5;
}
.img5{
    background-image: url(cheese.jpg);
    opacity: 0.5;
}
.img6{
    background-image: url(dogs.jpg);
    opacity: 0.5;
}

/*  following just for the demo

.table-cell h3{
    text-align: center;


}

*/

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Satisfy', cursive;
font-family: 'Voltaire', sans-serif;
font-family: 'Handlee', cursive;
font-family: 'Kreon', serif;
*/
